.App {
    text-align: center;
}

.Song-text {
    font-size: 16px;
}

.Song-inline {
    display: inline-block;
}

.Song-gap {
    margin-left: 10px;
    margin-right: 10px;
}

.App-columns {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
}

.App-column {
    width: 50%;
    height: 50%;
}

.App-logo {
    height: 5vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
}

.App-header-text {
    font-size: calc(10px + 2vmin);
}

.App-music {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    position: fixed;
    background-color: #14225a;
    bottom: 0;
    text-align: center;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
